<%= bootstrap_form_for(@excel_to_model_mapping, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
<% if @excel_to_model_mapping.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@excel_to_model_mapping.errors.count, "error") %> prohibited this excel_to_db_mapping from being saved:</h2>
  <ul>
    <% @excel_to_model_mapping.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% @available_models = @available_models.select { |model| !(model.to_s.include? "::" or model.to_s.include? "#")} %>
<% models_for_select = @available_models.map { |model| [model.to_s, model.to_s]} %>
<%= f.select(:model, models_for_select)  %>

<%= f.text_field :excel_kolumn_titel, label: "Excel kolumn titel" %>
<%= f.text_field :model_attribute, label: "Model attribute" %>
<%= f.submit %>
</div>
<% end %>