<p id="notice"><%= notice %></p>

<h1>Listing Excel To Model Mappings</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Model</th>
      <th>Excel kolumn titel</th>
      <th>Model attribute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @excel_to_model_mappings.each do |excel_to_model_mapping| %>
      <tr class="acive">
        <td><%= excel_to_model_mapping.model %></td>
        <td><%= excel_to_model_mapping.excel_kolumn_titel %></td>
        <td><%= excel_to_model_mapping.model_attribute %></td>
        <td><%= link_to 'Show', excel_to_model_mapping %></td>
        <td><%= link_to 'Edit', edit_excel_to_model_mapping_path(excel_to_model_mapping) %></td>
        <td><%= link_to 'Destroy', excel_to_model_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excel to model mapping', new_excel_to_model_mapping_path %>
