<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @excel_to_model_mapping.model %>
</p>

<p>
  <strong>Excel kolumn titel:</strong>
  <%= @excel_to_model_mapping.excel_kolumn_titel %>
</p>

<p>
  <strong>Model attribute:</strong>
  <%= @excel_to_model_mapping.model_attribute %>
</p>

<%= link_to 'Edit', edit_excel_to_model_mapping_path(@excel_to_model_mapping) %> |
<%= link_to 'Back', excel_to_model_mappings_path %>
