<%= bootstrap_form_for(@person, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
<% if @person.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
  <ul>
    <% @person.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.text_field :first_name %>
<%= f.text_field :last_name %>
<%= f.text_field :email %>
<%= f.text_field :telephone %>
<%= f.text_field :address %>
<%= f.collection_select(:company_id, Company.all, :id, :name) %>
<%= f.submit %>

<% end %>



