<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>


<h3>Company</h3>

<p>
  <strong>Company name:</strong>
  <%= @person.company.name %>
</p>

<p>
  <strong>Company business id:</strong>
  <%= @person.company.business_id %>
</p>

<p>
  <strong>Company home page:</strong>
  <%= @person.company.home_page %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
