<%= bootstrap_form_for(@kedja, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @kedja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kedja.errors.count, "error") %> prohibited this kedja from being saved:</h2>

      <ul>
      <% @kedja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :namn %>
    <%= f.number_field :internal_id %>
    <%= f.submit %>
<% end %>
