<p id="notice"><%= notice %></p>

<h1>Listing Kedjas</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Internal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kedjas.each do |kedja| %>
      <tr class="active">
        <td><%= kedja.namn %></td>
        <td><%= kedja.internal_id %></td>
        <td><%= link_to 'Show', kedja %></td>
        <td><%= link_to 'Edit', edit_kedja_path(kedja) %></td>
        <td><%= link_to 'Destroy', kedja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kedja', new_kedja_path %>
