<p id="notice"><%= notice %></p>

<p>
  <strong>Namn:</strong>
  <%= @kedja.namn %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @kedja.internal_id %>
</p>

<%= link_to 'Edit', edit_kedja_path(@kedja) %> |
<%= link_to 'Back', kedjas_path %>
