<%= bootstrap_form_for(@affar, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
<% if @affar.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@affar.errors.count, "error") %> prohibited this affar from being saved:</h2>
  <ul>
    <% @affar.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.collection_select(:koncept_id, Koncept.all, :id, :namn, {include_blank: true}) %>
<%= f.text_field :namn %>
<%= f.number_field :internal_id %>
<%= f.text_field :internal_id_txt %>
<%= f.number_field :dl_kod %>
<%= f.text_field :telefon %>
<%= f.text_field :fax %>
<%= fields_for :adress, @affar.adress do |adress_fields| %>
<%= f.static_control label: "Gatan" do %>
<%= adress_fields.text_field :gatan, class: "form-control" %>
<% end %>

<%= f.static_control label: "Post nummer" do %>
<%= adress_fields.text_field :post_num, class: "form-control" %>
<% end %>

<%= f.static_control label: "Kommun" do %>
<%= adress_fields.text_field :kommun, class: "form-control" %>
<% end %>

<%= f.static_control label: "Ort" do %>
<%= adress_fields.text_field :ort, class: "form-control" %>
<% end %>

<% end %>
<%= f.submit %>
<% end %>