<p id="notice"><%= notice %></p>

<h1>Listing Affars</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Koncept</th>
      <th>Namn</th>
      <th>Internal</th>
      <th>Internal id txt.string</th>
      <th>Dl kod</th>
      <th>Telefon</th>
      <th>Fax</th>
      <th>Adress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affars.each do |affar| %>
      <tr class="active">
        <td><%= affar.koncept %></td>
        <td><%= affar.namn %></td>
        <td><%= affar.internal_id %></td>
        <td><%= affar.internal_id_txt %></td>
        <td><%= affar.dl_kod %></td>
        <td><%= affar.telefon %></td>
        <td><%= affar.fax %></td>
        <td><%= affar.adress %></td>
        <td><%= link_to 'Show', affar %></td>
        <td><%= link_to 'Edit', edit_affar_path(affar) %></td>
        <td><%= link_to 'Destroy', affar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affar', new_affar_path %>
