<p id="notice"><%= notice %></p>

<p>
  <strong>Koncept:</strong>
  <%= @affar.koncept %>
</p>

<p>
  <strong>Namn:</strong>
  <%= @affar.namn %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @affar.internal_id %>
</p>

<p>
  <strong>Internal id txt:</strong>
  <%= @affar.internal_id_txt %>
</p>

<p>
  <strong>Dl kod:</strong>
  <%= @affar.dl_kod %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @affar.telefon %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @affar.fax %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @affar.adress %>
</p>

<%= link_to 'Edit', edit_affar_path(@affar) %> |
<%= link_to 'Back', affars_path %>
