<!-- Begin page content -->
<div class="row">
  <div class="page-header">
    <%= image_tag("logopl.png") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body" style="background-color: black;">
        <div class="text-center" id="time" style="font-size:xx-large; font-style: normal; color: white;">00:00:00</div>
      </div>
    </div>
  </div>
</div>
<div class="row panel">
  <div class="col-sm-4 ">
    <button class="btn btn-primary btn-block" onclick="show();start()">Starta arbetspass</button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-danger btn-block" onclick="stop()" >Stoppa arbetspass</button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-success btn-block">Rapportera arbetspass</button>
  </div>
</div>
<div class="row panel">
  <div class="col-sm-6 ">
    <a href="Plockbolagetapp-karta.html" class="btn btn-default btn-block" role="button">Karta</a>
  </div>
  <div class="col-sm-6">
    <a href="Plockbolagetapp-order.html" class="btn btn-default btn-block" role="button">Lägg order</a>
  </div>
</div>
<div class="row panel">
  <div class="col-sm-6 ">
    <a href="Plockbolagetapp-information.html" class="btn btn-default btn-block"  role="button">Information</a>
  </div>
  <div class="col-sm-6">
    <a href="Plockbolagetapp-bilder.html" class="btn btn-default btn-block"  role="button">Ta bilder</a>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>

<script>
var clsStopwatch = function() {
// Private vars
var startAt = 0;  // Time of last start / resume. (0 if not running)
var lapTime = 0;  // Time on the clock when last stopped in milliseconds
var now = function() {
return (new Date()).getTime();
};
// Public methods
// Start or resume
this.start = function() {
startAt = startAt ? startAt : now();
};
// Stop or pause
this.stop = function() {
// If running, update elapsed time otherwise keep it
lapTime = startAt ? lapTime + now() - startAt : lapTime;
startAt = 0; // Paused
};
// Reset
this.reset = function() {
lapTime = startAt = 0;
};
// Duration
this.time = function() {
return lapTime + (startAt ? now() - startAt : 0);
};
};

var x = new clsStopwatch();
var $time;
var clocktimer;
function pad(num, size) {
var s = "0000" + num;
return s.substr(s.length - size);
}
function formatTime(time) {
var h = m = s = ms = 0;
var newTime = '';
h = Math.floor( time / (60 * 60 * 1000) );
time = time % (60 * 60 * 1000);
m = Math.floor( time / (60 * 1000) );
time = time % (60 * 1000);
s = Math.floor( time / 1000 );
newTime = pad(h, 2) + ':' + pad(m, 2) + ':' + pad(s, 2);
return newTime;
}
function show() {
$time = document.getElementById('time');
update();
}
function update() {
$time.innerHTML = formatTime(x.time());
}
function start() {
clocktimer = setInterval("update()", 1);
x.start();

localstorage.startTime = startAt;

}
function stop() {
x.stop();
clearInterval(clocktimer);
}
function reset() {
stop();
x.reset();
update();
}
</script>