<%= bootstrap_form_for(@uploaded_file, layout: :horizontal) do |f| %>
<% if @uploaded_file.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@uploaded_file.errors.count, "error") %> prohibited this uploaded_file from being saved:</h2>
  <ul>
    <% @uploaded_file.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Fil uppladning</h4></div>
  <div class="panel-body">
    <% @available_models = @available_models.select { |model| !(model.to_s.include? "::" or model.to_s.include? "#")} %>
    <% models_for_select = @available_models.map { |model| [model.to_s, model.to_s]} %>
    
    <%= f.static_control label: "Model type" do %>
    <%= select :model, :name, models_for_select  %>
    <% end %>
    
    <%= f.file_field :file, class: 'form-control'%>
    <%= f.submit "Ladda upp", class: 'btn btn-default pull-right', id: 'submitBtn', disabled: true %>
  </div>
</div>
<% end %>


<script>
$(document).ready(function() { 
  
  var fileCtrl = $('#uploaded_file_file');

  fileCtrl.on('change', function() { 
    $('#submitBtn').prop('disabled', !fileCtrl.val());   
  });
  
});


</script