<p id="notice"><%= notice %></p>

<h1>Listing Uploaded Files</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Location</th>
      <th>Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaded_files.each do |uploaded_file| %>
      <tr class="active">
        <td><%= uploaded_file.filename %></td>
        <td><%= uploaded_file.location %></td>
        <td><%= uploaded_file.content_type %></td>
        <td><%= link_to 'Show', uploaded_file %></td>
        <td><%= link_to 'Destroy', uploaded_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uploaded file', new_uploaded_file_path %>
