<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @uploaded_file.filename %>
</p>

<p>
  <strong>Location:</strong>
  <%= @uploaded_file.location %>
</p>

<p>
  <strong>Type:</strong>
  <%= @uploaded_file.content_type %>
</p>


<%= link_to 'Back', uploaded_files_path %>
