<%= bootstrap_form_for(@koncept, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @koncept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@koncept.errors.count, "error") %> prohibited this koncept from being saved:</h2>

      <ul>
      <% @koncept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.collection_select(:kedja_id, Kedja.all, :id, :namn, {include_blank: true}) %>
    <%= f.text_field :namn %>
    <%= f.submit %>
<% end %>
