<p id="notice"><%= notice %></p>

<h1>Listing Koncepts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Kedja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @koncepts.each do |koncept| %>
      <tr class="active">
        <td><%= koncept.namn %></td>
        <td><%= koncept.kedja %></td>
        <td><%= link_to 'Show', koncept %></td>
        <td><%= link_to 'Edit', edit_koncept_path(koncept) %></td>
        <td><%= link_to 'Destroy', koncept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Koncept', new_koncept_path %>
