<p id="notice"><%= notice %></p>

<p>
  <strong>Namn:</strong>
  <%= @koncept.namn %>
</p>

<p>
  <strong>Kedja:</strong>
  <%= @koncept.kedja %>
</p>

<%= link_to 'Edit', edit_koncept_path(@koncept) %> |
<%= link_to 'Back', koncepts_path %>
