<%= bootstrap_form_for(@custom_campaign, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
<% if @custom_campaign.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@custom_campaign.errors.count, "error") %> prohibited this custom_campaign from being saved:</h2>
	<ul>
		<% @custom_campaign.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= f.text_field :name %><br>
<%= f.text_area :description %>
<%= f.text_field :company_id %>
<%= f.collection_select(:customer_responsible_id, Person.all, :id, :first_name, {include_blank: true}) %>
<%= f.collection_select(:internal_responsible_id, Person.all, :id, :first_name, {include_blank: true}) %>
<%= f.date_select :start_date %>
<%= f.date_select :end_date %>
<%= f.text_area :notes %>
<%= f.number_field :num_images_required, label: "Antal bilder" %>
<%= f.static_control label: "Affärer" do %>
<div class="container-fluid">
	<div class="row">
		<input type="hidden" id="shopIds" />
		<button type="button" class="btn btn-primary" data-toggle="modal" id="selectShopsBtn" data-target="#shopSelectorDialog">L&auml;gg till Aff&auml;rer</button>
	</div>
	
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<table id="datagrid-selected" class="table table-condensed table-hover table-striped" data-toggle="bootgrid" data-ajax="true" data-url="/shops/">
					<thead>
						<tr>
							<th data-column-id="id" data-type="numeric"  data-identifier="true" data-visible="false">id</th>
							<th data-column-id="shop_chains.name" data-formatter="nestedValueGetter" data-sortable="true">Kedja</th>
							<th data-column-id="shop_concepts.name" data-formatter="nestedValueGetter" data-sortable="true">Koncept</th>
							<th data-column-id="shops.name" data-formatter="nestedValueGetter" data-sortable="true">Aff&auml;r</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= f.collection_select(:shops, ShopConcept.all, :id, :name, {}, {:multiple => true, :size => 15}) %>
<%= f.submit %>
<% end %>


<div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="addShopsModal" id="shopSelectorDialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">V&auml;lj Aff&auml;rer</h4>
			</div>
			<div class="modal-body">
				
				<div class="container-fluid">
					<div class="row">
						
						<div class="panel panel-default">
							<div class="panel-heading">Filter</div>
							<div class="panel-body">
								<div class="container-fluid">
									<form>
										<div class="row">
											<div class="form-group col-md-4">
												<label for="filterChain">Kedja</label>
												<%= collection_select(:custom_campaign, :shops, ShopChain.all, :id, :name, {:prompt => "-"}, {:class => "form-control", :id => "filterChain"}) %>
												
												
											</div>
											<div class="form-group col-md-4">
												<label for="filterConcept">Koncept</label>
												<%= collection_select(:custom_campaign, :shops, ShopConcept.all, :id, :name, {:prompt => "-"}, {:class => "form-control", :id => "filterConcept"}) %>
												
												
											</div>
											<div class="form-group col-md-4">
												<label for="filterShop">Aff&auml;r</label>
												<%= collection_select(:custom_campaign, :shops, Shop.all, :id, :name, {:prompt => "-"}, {:class => "form-control", :id => "filterShop"}) %>
												
											</div>
											
										</div>
										<div class="row text-right">
											<input type="button" class="btn btn-default" id="removefilterBtn" value="Ta bort filtrering" />
											<input type="button" class="btn btn-default" id="filterBtn" value="Filtrera" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						
						<table id="datagrid-toSelect" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
							<thead>
								<tr>
									<th data-column-id="id" data-type="numeric"  data-identifier="true" data-visible="false">id</th>
									<th data-column-id="shop_chains.name" data-formatter="nestedValueGetter" data-sortable="true">Kedja</th>
									<th data-column-id="shop_concepts.name" data-formatter="nestedValueGetter" data-sortable="true">Koncept</th>
									<th data-column-id="shops.name" data-formatter="nestedValueGetter" data-sortable="true">Aff&auml;r</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="row text-right">
						<input type="button" class="btn btn-default" id="addShopsBtn" value="Lägg aff&auml;rer" disabled="true" />
					</div>
					
				</div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">St&auml;ng</button>
			</div>
			</div>
			</div>
			</div>
			<script>
			$("#selectShopsBtn").click(function() {
				loadDatagrids();
			});
			
			$("#filterBtn").click(function() {
				var chain = $("#filterChain").val();
				var concept = $("#filterConcept").val();
				var shop = $("#filterShop").val();
				var searchStr = (chain !== "" ? "shop_chains.id=" + chain + "|" : "") + (concept !== "" ? "shop_concepts.id=" + concept + "|" : "") + (shop !== "" ? "id=" + shop : "" );
				$("#datagrid-toSelect").bootgrid("search", searchStr);
			});

			$("#removefilterBtn").click(function() {
				resetFilters();
				$("#datagrid-toSelect").bootgrid("search", "");
			});
			
			function resetFilters() {
				$("#filterChain").prop("selectedIndex", 0);
				$("#filterConcept").prop("selectedIndex", 0);
				$("#filterShop").prop("selectedIndex", 0);
			}

			$("#addShopsBtn").click(function() {
				var selectedRows = $("#datagrid-toSelect").bootgrid("getSelectedRows");
				$("#shopIds").val(selectedRows.join(","));
				$("#datagrid-selected").bootgrid("search", "id=" + $("#shopIds").val());
				setButtonDisableStatus("addShopsBtn", true);
				
			});

			function setButtonDisableStatus(id, isDisabled) {
				$("#" + id).prop("disabled", isDisabled);	
			}


			</script>