<div class="panel panel-default">
<div class="panel-heading"><h3>Editing Custom Campaign<h3></div>
  <div class="panel-body">
<%= render 'form' %>

  </div>
</div>

<%= link_to 'Show', @custom_campaign %> |
<%= link_to 'Back', custom_campaigns_path %>
