<p id="notice"><%= notice %></p>

<h1>Listing Custom Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Company</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Notes</th>
      <th>Num images required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_campaigns.each do |custom_campaign| %>
      <tr>
        <td><%= custom_campaign.name %></td>
        <td><%= custom_campaign.description %></td>
        <td><%= custom_campaign.company %></td>
        <td><%= custom_campaign.start_date %></td>
        <td><%= custom_campaign.end_date %></td>
        <td><%= custom_campaign.notes %></td>
        <td><%= custom_campaign.num_images_required %></td>
        <td><%= link_to 'Show', custom_campaign %></td>
        <td><%= link_to 'Edit', edit_custom_campaign_path(custom_campaign) %></td>
        <td><%= link_to 'Destroy', custom_campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom campaign', new_custom_campaign_path %>
