<div class="panel panel-default">
<div class="panel-heading"><h3>New Custom Campaign<h3></div>
  <div class="panel-body">
<%= render 'form' %>

  </div>
</div>

<%= link_to 'Back', custom_campaigns_path %>
