<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_campaign.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @custom_campaign.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @custom_campaign.company %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @custom_campaign.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @custom_campaign.end_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @custom_campaign.notes %>
</p>

<p>
  <strong>Num images required:</strong>
  <%= @custom_campaign.num_images_required %>
</p>

<%= link_to 'Edit', edit_custom_campaign_path(@custom_campaign) %> |
<%= link_to 'Back', custom_campaigns_path %>
