<%= bootstrap_form_for(@company, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
<fieldset>
    <legend>Legend</legend>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.text_field :name %>
    <%= f.number_field :business_id %>
    <%= f.text_field :home_page %>
    <%= f.submit %>
    </fieldset>
<% end %>



