<!DOCTYPE html>
<html>
	<head>
		<title>Plockbolaget</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Brand</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/people/">People <span class="sr-only">(current)</span></a></li>
						<li><a href="/companies/">Companies</a></li>
						<li><a href="/products/">Products</a></li>
						<li><a href="/custom_campaigns/">Campaigns</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Excel filer <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/excel_to_model_mappings/">Excel-Model mappings</a></li>
								<li><a href="/uploaded_files/new/">Import data</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Aff&auml;rer<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/kedjas/">Kedjor</a></li>
								<li><a href="/koncepts/">Koncept</a></li>
								<li><a href="/affars/">Aff&auml;rer</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>